#########################
# Plex Configuration
#########################
# My Plex Account method
PlexMethod=MyPlexAccount
PlexUsername=plexusername
PlexPassword=plexpassword
PlexServer=plexservername

# Plex Token to use for X-Auth-Token
PlexAuthToken=asdfklj234H192374507

#########################
# Feh Configuration
#########################
FehPlaylistFile=FehPlexSlideShow.playlist
